<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SI模型介绍</title>
  <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
</head>
<body>
<div style="padding: 20px; background-color: #e3e3e3;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card" >
                <div class="layui-collapse" lay-accordion style="background-color: #f8f8f8">
                    <div class="layui-colla-item" style="color: #000000;">
                        <div class="layui-colla-title" style="background-color: #f8f8f8;font-size:25px; font-weight: bold; color: #000000;">
                            UGT模型介绍
                        </div>
                        <div class="layui-colla-content layui-show" style="background-color:#f8f8f8; overflow:auto; width:97%; height:180px; font-size:18px; color: #000000; line-height:25pt; text-align: justify; text-indent: 2em;">
                            不确定环境下基于博弈论的群体行为传播模型主要分为三个模块：用户影响力的计算，用户行为收益计算，用户行为确定。
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-card" style="background-color: #f8f8f8">
                <div class="layui-carousel" id="lunbotu" style="margin:0 auto; " lay-anim="" lay-indicator="inside" lay-arrow="hover">
                    <div carousel-item align="center">
                        <div class="layui-this"><img src="../static/image/SI.png"  style="width: 80%;height:100%"></div>
                        <div class=""><img src="../static/image/SI_process.png" style="width: 80%;height:100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/layui/layui.js"></script>
<script>
layui.use('carousel', function(){
  var carousel = layui.carousel;
  //建造实例
  carousel.render({
        elem: '#lunbotu'     //指向容器选择器
        ,anim:  'fade'       //轮播切换动画方式
        ,margin: 'auto'
        , width: '97%'     //设置容器宽度
        , height: '500px'     //设定轮播容器高度
        ,arrow: 'always'     //始终显示箭头
        ,indicator: 'none'   //指示器位置:不显示
        ,interval: '3000'    //自动切换的时间间隔
  });
});
layui.use('element', function(){
  var element = layui.element;
});
</script>

</body>
</html>